@import '../App.scss';

.hero__container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border: 1px dashed $primary-color;
  align-items: center;
  justify-content: space-around;

  a.title__container {
    color: $primary-color;
    text-decoration: none;
    border: 2px solid $primary-color;
    padding: $padding;
    cursor: pointer;
    transition: all 150ms ease-in-out;
    &:hover {
      box-shadow: 10px 10px 0 $primary-color;
      transform: translateY(-5px);
    }
    h1 {
      font-size: 5rem;
      font-weight: 400;
    }
    h2 {
      font-size: 1.8rem;
    }
  }

  .scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    span {
      font-size: 1.2rem;
    }
    i {
      margin-top: 0.3rem;
      font-size: 1.5rem;
    }
    &:hover {
      i {
        animation: float 0.5s infinite ease-in-out alternate;
      }
    }
  }
}

@keyframes float {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(0.8rem);
  }
}
