.title-bar__container {
  padding: 10vh;
  background-color: #f9cf98;
  min-height: 45vh;
}

.title {
  font-size: 8em;
  font-weight: 900;
  text-align: center;
  margin-top: 20vh;
}

.paragraph {
  text-align: center;
  margin-top: 10px;
  font-size: 2em;
  color: #111111;
}

.blob {
  position: absolute;
  left: auto;
  right: auto;
}

@media screen and (max-width: 920px) {
  .title {
    font-size: 5em;
  }
  .paragraph {
    font-size: 1.5em;
  }
  .blob {
    transform: scale(0.8);
    left: auto;
  }
}
