.title-bar__container {
  position: relative;
  background-color: #860b0c;
  overflow: hidden;
  height: 50vw;
}

.blob {
  position: absolute;
  overflow: visible;
  transform: scale(4);
  top: 99rem;
  left: 5rem;
}

.blob > mask {
  transform-origin: center;
}

.mask-blob {
  transform-origin: center;
  animation: moveBlob 15s linear infinite;
}

.title-bar__title {
  display: flex;
  width: 90vw;
  flex-direction: column;
  padding-bottom: 20px;
  margin: 0 auto;
}

h1.title {
  font-size: 10vw;
  font-weight: bold;
  font-family: 'Zilla Slab Highlight', cursive;

  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000,
    3px 3px 0 #000;
  margin-top: 10vw;
  text-align: center;
  z-index: 1;
  color: #ffbdbd;
}

h2.paragraph {
  margin-top: 10vw;
  font-size: 3vw;
  font-weight: bold;
  font-family: 'Zilla Slab Highlight', cursive;
  text-align: center;
  color: #fff;
  /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000; */
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .title-bar__container {
    height: 80vw;
  }
  h1.title {
    font-size: 14vw;
    text-align: left;
    margin-top: 20vw;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
      2px 2px 0 #000;
  }
  h2.paragraph {
    font-size: 5vw;
    text-align: left;
  }

  .blob {
    position: absolute;
    overflow: visible;
    transform: scale(1.3);
    top: 13rem;
    left: 1rem;
  }
}

@media screen and (max-width: 480px) {
  h1.title {
    text-align: left;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }
  .mask-blob {
    animation: moveBlob480 15s linear infinite;
  }
  .blob {
    position: absolute;
    overflow: visible;
    transform: scale(1.3);
    top: 13rem;
    left: 1rem;
  }
}

@keyframes moveBlob {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveBlob768 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveBlob480 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
