@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

$padding: 3rem;
$primary-color: #ffb2b2;
$mustard: #fffeee;

// Breakpoints

$bp-1024: 1024px;
$bp-768: 768px;
$bp-480: 480px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  // Doted background
  // background-image: radial-gradient($primary-color 2px, transparent 0);
  background-size: 40px 40px;
  background-color: $primary-color;
}

::selection {
  background: $mustard;
}
